@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg: #ffffff;
    --bg-2: #f0f0f0;
    --color: #000000;
    --color-span: #ffcc00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    overflow: hidden;
}

.main-container {
    height: 100vh;
    overflow: auto;
    scrollbar-width: none;
    background-color: var(--bg);
    color: var(--color);
    transition: all 0.6s ease;
}

.main-container.dark-mode {
    --bg: #000000;
    --bg-2: #545454;
    --color: #ffffff;
    --color-span: #fdd947;
    background-color: var(--bg);
    color: var(--color);
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: var(--bg);
    padding: 0px 50px;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.icon {
    background-color: var(--bg-2);
}

ul {
    display: flex;
}

ul li {
    list-style-type: none;
}

ul li a {
    position: relative;
    color: var(--color);
    padding: 5px 20px;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li a.active {
    color: var(--color-span);
}

ul li a span {
    transition: 0.5s;
    transform: translateY(12px);
    transition-delay: calc(0.05s * var(--i));
}

ul li a span:nth-child(2) {
    position: absolute;
    transform: translateY(70px);
    font-size: 1.4em;
}

.icon ul li a span:nth-child(1) {
    transform: translateY(-50px);
}

.icon ul li a span:nth-child(2) {
    transform: translateY(10px);
}

.logo {
    position: relative;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    color: var(--color);
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo span {
    transition: 0.5s;
    display: block;
}

.logo span:nth-child(1) {
    position: absolute;
    transform: translateY(-80px);
    font-size: 1.5em;
}

.hero {
    height: 200vh;
    background: #000;
}

.icon .logo span:nth-child(1) {
    transform: translateY(0px);
}

.icon .logo span:nth-child(2) {
    transform: translateY(60px);
}

.span {
    color: var(--color-span);
}